/*

Darko Bunic
http://www.redips.net/
Oct, 2010.

*/
td{
width:100px;
}

body{
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}

/* make drag container visible */
#drag{
	border: 2px dashed LightBlue;
	display: table;
}

/* table */
div#drag table {
	background-color: #ffffff;
	border-collapse: collapse;
	margin: 7px;	
}

/* table cells */
div#drag td{
	border: 1px solid navy;
	height: 50px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
.drag{
	margin: auto;
	text-align: center;
	width: 100px;
	height: 100px;
	line-height: 35px;
	border: 0px solid white;
	background-color: white;
}

#message{
	color: white;
	background-color: #aaa;
	text-align: center;
	margin-top: 10px;
	width:500px;
}
#description{
	width:1000px;
	text-align:justify;
}